mini/10-19/1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Family" type="FamilyType"/>
    <xs:complexType name="FamilyType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Member" type="MemberType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberType">
        <xs:sequence >
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="age" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>